--base-dark-100: #17181D;
--base-dark-200: #5F626F;
--base-dark-300: #9EA1AD;
--base-dark-400: #B6B9BD;
--base-light-100: #FFFFFF;
--base-light-100-gradient: #FFFFFF00;
--base-brand-primary: #13D16A;
--text-primary: #17181D;
--text-secondary: #5F626F;
--text-tertiary: #9EA1AD;
--text-inverted: #FFFFFF;
--text-helper: #B6B9BD;
--text-accent: #13D16A;
--button-text-primary-default: #FFFFFF;
--button-text-secondary-default: #17181D;
--button-text-disabled: #B6B9BD;
--text-link-default: #0D9148;
--text-link-hover: #1AB25E;
--text-link-pressed: #0F7F41;
--surface-primary-background: #F9F9FA;
--button-border-secondary: #3E95644F;
--button-border-tertiary: #B2B2B24F;
--border-div-border: #F1F1F3;
--border-border-for-bg: #E1E1E6;
--surface-elevation: #FFFFFF;
--surface-down-bg: #EDF1F5;
--surface-selected: #E5F9EC;
--surface-disabled: #00000007;
--surface-disabled-light: #FFFFFF21;
--surface-overlay: #00000033;
--base-brand-600: #E6F8EE;
--base-brand-500: #D0F5E0;
--base-brand-400: #A5EBC4;
--base-brand-300: #00E667;
--additional-paris: #FF4081;
--base-brand-200: #02A64D;
--additional-paris-bg: #FF40810F;
--additional-new-york: #FFC422;
--additional-new-york-bg: #FFC42221;
--additional-tokyo: #FF9A43;
--additional-tokyo-bg: #FF9A430F;
--base-brand-100: #007534;
--additional-sydney: #9D7CE5;
--additional-sydney-bg: #9D7CE50F;
--additional-cape-town: #CC73EF;
--additional-cape-town-bg: #CD74F00F;
--additional-dubai: #13D1C2;
--surface-primary-background-gradient-off: #F9F9FA00;
--additional-dubai-bg: #13D1C20F;
--button-fill-primary-start: #24E57C;
--button-fill-danger-start: #F99494;
--button-fill-danger-end: #FF5858;
--button-fill-primary-end: #13D16A;
--button-fill-disable: #00000007;
--button-fill-secondary: #FFFFFF;
--button-fill-player: #0000003D;
--button-shadow-first: #7AEC6E42;
--button-shadow-second: #7AEC6E28;
--additional-barcelona: #13A2D1;
--additional-barcelona-bg: #13A2D10F;
--surface-disabled-inverterd: #FFFFFF14;
--states-success: #13D16A;
--states-success-background: #E9F9F0;
--states-success-gradient: #F4FFF8;
--states-warning: #FFCC00;
--states-warning-background: #FFF9E6;
--states-error: #FF3B30;
--states-error-background: #FFECEC;
--states-error-gradient: #FEF7F7;
--states-info-background: #E6F4FF;
--states-inactive-background: #F5F6F8;
--states-inactive-background-hover: #EBECEE;
--icons-color-primary: #13D16A;
--icons-color-inverted: #FFFFFF;
--shadows-text-active: #13D16A;
--shadows-bg-active: #FFFFFF;
--shadows-bg: #00000007;
--shadows-text: #5F626F;
--shadows-modal: #00000019;
--surface-inv-background: #35363E;