--base-dark-100: #ECEEF4;
--base-dark-200: #ACB1C0;
--base-dark-300: #7E8494;
--base-dark-400: #4A5060;
--base-light-100: #151515;
--base-light-100-gradient: #02020200;
--base-brand-primary: #7AA244;
--text-primary: #ECEEF4;
--text-secondary: #ACB1C0;
--text-tertiary: #7E8494;
--text-inverted: #020202;
--text-helper: #888E9E;
--text-accent: #7AA244;
--button-text-primary-default: #FFFFFF;
--button-text-secondary-default: #ACB1C0;
--button-text-disabled: #4C5262;
--text-link-default: #56762A;
--text-link-hover: #7AA244;
--text-link-pressed: #3A521A;
--surface-primary-background: #040301;
--button-border-secondary: #7AA2444F;
--button-border-tertiary: #999EAD4F;
--border-div-border: #282E40;
--border-border-for-bg: #182845;
--surface-elevation: #191D26;
--surface-down-bg: #222736;
--surface-selected: #14280E;
--surface-disabled: #FFFFFF0F;
--surface-disabled-light: #00000021;
--surface-overlay: #000000B7;
--base-brand-600: #24340E;
--base-brand-500: #3A521A;
--base-brand-400: #56762A;
--base-brand-300: #ACCC84;
--additional-paris: #FF4081;
--base-brand-200: #D0E2B4;
--additional-paris-bg: #FF408142;
--additional-new-york: #FFC422;
--additional-new-york-bg: #FFC4222D;
--additional-tokyo: #FF9A43;
--additional-tokyo-bg: #FF9A432D;
--additional-sydney: #9D7CE5;
--base-brand-100: #EAF4DA;
--additional-sydney-bg: #9D7CE528;
--additional-cape-town: #CC73EF;
--additional-cape-town-bg: #CD74F028;
--additional-dubai: #13D1C2;
--surface-primary-background-gradient-off: #04030100;
--additional-dubai-bg: #13D1C228;
--button-fill-primary-start: #94BA5E;
--button-fill-danger-start: #F99494;
--button-fill-danger-end: #FF5858;
--button-fill-primary-end: #608430;
--button-fill-disable: #FFFFFF11;
--button-fill-secondary: #020202;
--button-fill-player: #FFFFFF3D;
--button-shadow-first: #7AA24428;
--button-shadow-second: #7AA24414;
--additional-barcelona: #13A2D1;
--additional-barcelona-bg: #13A2D128;
--surface-disabled-inverterd: #0000000F;
--states-success: #13D16A;
--states-success-background: #0E2618;
--states-success-gradient: #0A1C12;
--states-warning: #FFCC00;
--states-warning-background: #241E0A;
--states-error: #FF3B30;
--states-error-background: #30100E;
--states-error-gradient: #220A0A;
--states-info-background: #0E142E;
--states-inactive-background: #2C3244;
--states-inactive-background-hover: #363E52;
--icons-color-primary: #7AA244;
--icons-color-inverted: #FFFFFF;
--shadows-text-active: #7AA244;
--shadows-bg-active: #141822;
--shadows-bg: #0000008C;
--shadows-text: #ACB1C0;
--shadows-modal: #000000A5;
--glass-bg: #5660891E;
--surface-inv-background: #F0F1F4;
--color: #FFFFFF;
--color2: #FFFFFF;
