--base-dark-100: #EFEFEE;
--base-dark-200: #CBCFC5;
--base-dark-300: #A7AD9E;
--base-dark-400: #686F5F;
--base-light-100: #1A1D17;
--base-light-100-gradient: #1A1D1700;
--base-brand-primary: #88D113;
--text-primary: #EFEFEE;
--text-secondary: #CBCFC5;
--text-tertiary: #A7AD9E;
--text-inverted: #1A1D17;
--text-helper: #BBBDB6;
--text-accent: #88D113;
--button-text-primary-default: #FFFFFF;
--button-text-secondary-default: #CDD1C7;
--button-text-disabled: #686F5E;
--text-link-default: #5E910D;
--text-link-hover: #78B21A;
--text-link-pressed: #547F0F;
--surface-primary-background: #252721;
--button-border-secondary: #BDF2674F;
--button-border-tertiary: #B2B2B24F;
--border-div-border: #3E4237;
--border-border-for-bg: #545C47;
--surface-elevation: #2F322C;
--surface-down-bg: #34372F;
--surface-selected: #2D4900;
--surface-disabled: #FFFFFF0F;
--surface-disabled-light: #00000021;
--surface-overlay: #0000009E;
--base-brand-600: #2D4900;
--base-brand-500: #456F01;
--base-brand-400: #5E9901;
--base-brand-300: #D0EBA5;
--additional-paris: #FF4081;
--base-brand-200: #E6F5D0;
--additional-paris-bg: #FF408142;
--additional-new-york: #FFC422;
--additional-new-york-bg: #FFC4222D;
--additional-tokyo: #FF9A43;
--additional-tokyo-bg: #FF9A432D;
--base-brand-100: #F2F9E9;
--additional-sydney: #9D7CE5;
--additional-sydney-bg: #9D7CE528;
--additional-cape-town: #CC73EF;
--additional-cape-town-bg: #CD74F028;
--additional-dubai: #13D1C2;
--surface-primary-background-gradient-off: #25272100;
--additional-dubai-bg: #13D1C228;
--button-fill-primary-start: #A7C675;
--button-fill-danger-start: #F99494;
--button-fill-danger-end: #FF5858;
--button-fill-primary-end: #678D2A;
--button-fill-disable: #FFFFFF11;
--button-fill-secondary: #1A1D17;
--button-fill-player: #FFFFFF3D;
--button-shadow-first: #BBEC6E28;
--button-shadow-second: #BBEC6E14;
--additional-barcelona: #13A2D1;
--additional-barcelona-bg: #13A2D128;
--surface-disabled-inverterd: #0000000F;
--states-success: #13D16A;
--states-success-background: #455132;
--states-success-gradient: #38402B;
--states-warning: #FFCC00;
--states-warning-background: #554821;
--states-error: #FF3B30;
--states-error-background: #754444;
--states-error-gradient: #533535;
--states-info-background: #202931;
--states-inactive-background: #42463B;
--states-inactive-background-hover: #505646;
--icons-color-primary: #88D113;
--icons-color-inverted: #FFFFFF;
--shadows-text-active: #88D113;
--shadows-bg-active: #2F302C;
--shadows-bg: #00000054;
--shadows-text: #CBCFC5;
--shadows-modal: #00000070;
--surface-inv-background: #FAFBF9;