--base-dark-100: #1D1719;
--base-dark-200: #6F5F65;
--base-dark-300: #AD9EA3;
--base-dark-400: #BDB6B9;
--base-light-100: #FFFFFF;
--base-light-100-gradient: #FFFFFF00;
--base-brand-primary: #FF6BA4;
--text-primary: #1D1719;
--text-secondary: #6F5F65;
--text-tertiary: #AD9EA3;
--text-inverted: #FFFFFF;
--text-helper: #BDB6B9;
--text-accent: #FF6BA4;
--button-text-primary-default: #FFFFFF;
--button-text-secondary-default: #17181D;
--button-text-disabled: #B6B9BD;
--text-link-default: #E24B85;
--text-link-hover: #EC558F;
--text-link-pressed: #D8417B;
--surface-primary-background: #F9F5F6;
--button-border-secondary: #953E5F4F;
--button-border-tertiary: #B2B2B24F;
--border-div-border: #F3F1F2;
--border-border-for-bg: #E6E1E3;
--surface-elevation: #FFFFFF;
--surface-down-bg: #F5EDF0;
--surface-selected: #FFF4F8;
--surface-disabled: #00000007;
--surface-disabled-light: #FFFFFF21;
--surface-overlay: #00000033;
--base-brand-600: #FEEBF2;
--base-brand-500: #FCD7E5;
--base-brand-400: #F09FBE;
--base-brand-300: #E60058;
--additional-paris: #FF4081;
--base-brand-200: #A60241;
--additional-paris-bg: #FF40810F;
--additional-new-york: #FFC422;
--additional-new-york-bg: #FFC42221;
--additional-tokyo: #FF9A43;
--additional-tokyo-bg: #FF9A430F;
--additional-sydney: #9D7CE5;
--base-brand-100: #75002C;
--additional-sydney-bg: #9D7CE50F;
--additional-cape-town: #CC73EF;
--additional-cape-town-bg: #CD74F00F;
--additional-dubai: #13D1C2;
--surface-primary-background-gradient-off: #F9F9FA00;
--additional-dubai-bg: #13D1C20F;
--button-fill-primary-start: #FF6BA4;
--button-fill-danger-start: #F99494;
--button-fill-danger-end: #FF5858;
--button-fill-primary-end: #EB5890;
--button-fill-disable: #00000007;
--button-fill-secondary: #FFFFFF;
--button-fill-player: #0000003D;
--button-shadow-first: #EC6E9E42;
--button-shadow-second: #EC6E9E28;
--additional-barcelona: #13A2D1;
--additional-barcelona-bg: #13A2D10F;
--surface-disabled-inverterd: #FFFFFF14;
--states-success: #13D16A;
--states-success-background: #E9F9F0;
--states-success-gradient: #F4FFF8;
--states-warning: #FFCC00;
--states-warning-background: #FFF9E6;
--states-error: #FF3B30;
--states-error-background: #FFECEC;
--states-error-gradient: #FEF7F7;
--states-info-background: #E6F4FF;
--states-inactive-background: #F5F6F8;
--states-inactive-background-hover: #EBECEE;
--icons-color-primary: #FF6BA4;
--icons-color-inverted: #FFFFFF;
--shadows-text-active: #FF6BA4;
--shadows-bg-active: #FFFFFF;
--shadows-bg: #00000007;
--shadows-text: #6F5F65;
--shadows-modal: #00000019;
--glass-bg: #78DBA51E;
--surface-inv-background: #3E3538;
--color: #FFFFFF;
--color2: #FFFFFF;
